{
	"sourceType": "unambiguous",
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry",
				"corejs": 3
			}
		],
		["@babel/preset-react"]
	],

	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		],
		"react-hot-loader/babel",
		"@babel/plugin-syntax-dynamic-import"
	]
}
